[alias]
	co = checkout
	st = status
	br = branch
    bl = blame -w -C -C -C
    dw = diff --word-diff
[core]
	pager = less -F -X
	editor = vim
[color]
	ui = true
[blame]
    coloring = repeatedLines
[commit]
    gpgsign = true

# For Reuse Recorded Resolution
# Keeps track of applied merge in rebase operations and re-applies them if they match
[rerere]
	enabled = true
	autoUpdate = true

[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[user]
	signingkey = ~/.ssh/id_rsa.pub
	email = moi@kevingrandjean.ch
	name = Kevin Grandjean

# Include device specific config
[include]
    path = .dot/.gitconfig
